/***********HEADER start*************/

.header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 4.8rem;
  font-weight: 700;
  background-color: #fdf2e9;
  align-items: center;
}

.logo img {
  width: 12.8rem;
}

.nav-bar .nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.menu:link,
.menu:visited {
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}

.menu:hover,
.menu:active {
  text-decoration: none;
  color: #cf711f;
}

.menu.cta-nav {
  padding: 0.9rem 1.8rem;
  color: #fdf2e9;
}

/***********HEADER end*************/

/***********HERO start*************/

.hero-section {
  background-color: #fdf2e9;
  padding: 1.2rem 3.2rem;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 9.6rem;
  column-gap: 8rem;
  align-items: center;
}

.hero-header-description {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1.3px;
  margin-bottom: 3.2rem;
}

.hero-image img {
  max-width: 100%;
}

.customers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.customer-img img {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  margin-left: -1rem;
  border: 3px solid #fdf2e9;
}

.customer-img img:last-child {
  margin-right: 0;
}

.customer-desc {
  font-size: 1.8rem;
  font-weight: 500;
}

.delivered-meal {
  color: #cf711f;
}

/***********HERO end*************/

/* ***********Steps start ********* */

.steps {
  padding: 0 4.8rem;
}

.steps-header {
  padding: 9.6rem 0 6.4rem 0;
}

.step-header-description {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #cf711f;
  letter-spacing: 1.5px;
}

.steps-content img {
  align-self: center;
  width: 35%;
}

.step-no {
  font-size: 7.4rem;
  font-weight: 700;
  color: #ddd;
  margin-bottom: 2.4rem;
}

.step-title {
  margin-bottom: 3.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1.3;
  border-radius: 8px;
}

.step-img {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.step-img::before,
.step-img::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}

/* ***********Steps end ********* */

/* ********Feature-In-Start ******** */

.feature-in {
  text-align: center;
}

.feature-in-images {
  display: flex;
  justify-content: space-around;
}

.feature-in-header .step-header-description {
  display: block;
  color: #999;
  margin-bottom: 3.2rem;
}

.fi-image {
  height: 3.2rem;
  filter: brightness(1%);
  opacity: 50%;
}

/* ********Feature-In-End ******** */

/* ********Testimonials and Gallery-Start ******** */

/* ********Testimonials */
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 4.8rem 3.2rem;
}

.testimonials-gallery {
  background-color: #fdf2e9;
}

.testimonials-header {
  padding-bottom: 3.2rem;
}

.testimonials-body figure {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.author-img img {
  max-width: 20%;
  border-radius: 50%;
}

.author-testimonials {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1.2;
}

.author-info {
  font-size: 1.4rem;
  color: #999;
}

/* **********Gallery******* */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem 3.2rem;
  overflow: hidden;
}
.container-img {
  overflow: hidden;
}

.gallery img {
  width: 100%;
  object-fit: contain;
  transition: all 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* ********Testimonials and Gallery-End ******** */

/* *************Meals Start ***************** */

.meals-header {
  text-align: center;
}

.meals-recipe {
  border-radius: 0.8rem;
  overflow: hidden;
  max-width: 70%;
  box-shadow: 0 0 3px rgb(51, 51, 51, 0.3);
  justify-self: end;
}

.meals-recipe.first {
  justify-self: end;
}

.meals-recipes {
  display: inline-block;
  font-size: 1.6rem;
  color: #e67e22;
  letter-spacing: 1.05px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  font-weight: 500;
  padding: 0.4rem;
}

.meals-recipes:hover {
  border-bottom: 1px solid transparent;
}

.meals-header span {
  display: block;
  margin-bottom: 2.4rem;
}

.meals-header {
  text-align: center;
  margin-bottom: 8rem;
}

.meals-body {
  margin-bottom: 8rem;
}

/* .meals-header,
.meals-recipes {
  text-align: center;
} */

.labels span {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 5rem;
  color: #333;
}

.vegetarian {
  background-color: #52cf66;
}

.vegan {
  background-color: #94d82d;
}

.paleo {
  background-color: #fcc419;
}

.labels {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.6rem;
}

.meals-content .ternary-header {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}
.meals-img img {
  width: 100%;
}

.meal-details p,
.meals-diet p {
  font-size: 1.8rem;
  display: flex;
  gap: 1rem;
}

.meal-details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.meals-content {
  padding-inline-end: 1.6rem 1.2rem;
}

.meals-diet div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.8rem;
}

ion-icon {
  color: #cf711f;
}

.meals-footer {
  text-align: center;
}

/* *************Meals End ***************** */
