/* 1400px */

@media (min-width: 87em) {
  .hero-section {
    display: flex;
    justify-content: center;
  }
}

/* 1200px */

@media (max-width: 71.875em) {
  .container {
    width: 95%;
    margin: 0 auto !important;
  }
}

@media (max-width: 75em) {
  .pricing-features {
    padding-top: 0 !important;
  }
}

/*  Portrait Tablet 940/16 = 59em */

@media (max-width: 59em) {
  .container {
    width: 80%;
  }

  .grid {
    gap: 3.2rem 1.8rem;
  }

  .meals-body.grid {
    column-gap: 1.8rem;
  }

  .step-one-content,
  .step-two-content,
  .step-three-content {
    max-width: 80%;
  }

  /* .step-img img {
    width: 25%;
  }

  .step-img::before {
    width: 40%;
    padding-bottom: 40%;
  }

  .step-img::after {
    width: 30%;
    padding-bottom: 30%;
  } */

  .gallery {
    gap: 1.8rem 1.8rem;
  }

  .costumers {
    gap: 0;
  }

  header {
    position: relative;
  }

  .mobile-nav {
    display: block;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.93);

    transition: all 0.3s ease;
    /* 1: Hide element*/
    opacity: 0;

    /* 2: Set mouse and keyboard events to none */
    pointer-events: none;

    /* 3: Hide elements from screen reader */
    visibility: hidden;

    z-index: 999;
  }

  .open-nav .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    left: 0%;
  }

  .open-nav ion-icon[name="close"] {
    display: block;
    z-index: 9999;
  }

  .open-nav ion-icon[name="menu"] {
    display: none;
  }

  .open-nav .mobile-nav {
    position: fixed;
    right: 4.8rem;
    z-index: 9999;
    top: 2.4rem;
  }

  .nav-bar .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    gap: 2.4rem;
  }
}

@media (max-width: 45.625em) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 4.8rem;
  }

  .customers {
    justify-content: center;
    margin-top: 3.2rem !important;
  }

  .hero img {
    max-width: 70%;
  }

  .fi-image {
    height: 2.4rem;
  }
}

@media (max-width: 43.75em) {
  .container {
    width: 80%;
  }
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 37.5em) {
  .pb-lg {
    padding-bottom: 8rem !important;
  }

  .pt-lg {
    padding-bottom: 8rem !important;
  }

  .grid {
    row-gap: 3.2rem;
  }

  .header {
    border: 10px sol;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr;
    row-gap: 6.4rem;
  }

  .grid-sm-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2.4rem;
  }

  .gallery .grid-3 {
    row-gap: 1.3em;
  }

  .fi-image {
    height: 1.3rem;
  }

  /* ************** */

  .img-1 {
    grid-row: 1;
  }

  .img-3 {
    grid-row: 5;
  }

  .steps-content img {
    width: 30%;
  }

  .meals-diet {
    grid-column: 1 / -1;
  }

  .meals-body {
    margin-bottom: 3.2rem;
  }

  .cta {
    margin-bottom: 8rem;
  }

  .pricing-footer {
    margin-bottom: 4.8rem;
  }

  .footer {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media (max-width: 33.125em) {
  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .meals-recipe.first,
  .meals-recipe.second {
    justify-self: unset;
  }

  .steps-content img {
    width: 35%;
  }

  .feature-in-images {
    display: flex;
    justify-content: space-around;
  }

  .pb-lg {
    padding-bottom: 4.8rem !important;
  }

  .pt-lg {
    padding-top: 4.8rem !important;
  }

  .hero {
    row-gap: 3.2rem;
  }

  .steps-header {
    padding: 4.8rem 0 3.2rem 0;
  }

  .meals-header {
  }

  .btn {
    margin-bottom: 4.8rem;
  }
  .container.grid-5 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pricing-body,
  .features,
  .customers {
    flex-wrap: wrap;
    justify-content: center;
  }

  .grid-sm-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img {
    padding-bottom: 70%;
    grid-row: 1;
  }

  .form form {
    grid-template-columns: 1fr;
  }

  .form label {
    margin-bottom: 0.8rem;
  }
}
