/***********HEADER start*************/

.header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 4.8rem;
  font-weight: 700;
  background-color: #fdf2e9;
  align-items: center;
}

.logo img {
  width: 12.8rem;
}

.nav-bar .nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.menu:link,
.menu:visited {
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}

.menu:hover,
.menu:active {
  text-decoration: none;
  color: #cf711f;
}

.menu.cta-nav {
  padding: 0.9rem 1.8rem;
  color: #fdf2e9;
}

/***********HEADER end*************/

/***********HERO start*************/

.hero-section {
  background-color: #fdf2e9;
  padding: 1.2rem 3.2rem;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 9.6rem;
  column-gap: 8rem;
  align-items: center;
}

.hero-header-description {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1.3px;
  margin-bottom: 3.2rem;
}

.hero-image img {
  max-width: 100%;
}

.customers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.customer-img img {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  margin-left: -1rem;
  border: 3px solid #fdf2e9;
}

.customer-img img:last-child {
  margin-right: 0;
}

.customer-desc {
  font-size: 1.8rem;
  font-weight: 500;
}

.delivered-meal {
  color: #cf711f;
}

/***********HERO end*************/

/* ***********Steps start ********* */

.steps {
  padding: 0 4.8rem;
}

.steps-header {
  padding: 9.6rem 0 6.4rem 0;
}

.step-header-description {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #cf711f;
  letter-spacing: 1.5px;
}

.steps-content {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem 4.8rem;
}

.steps-content img {
  align-self: center;
  width: 35%;
}

.step-no {
  font-size: 7.4rem;
  font-weight: 700;
  color: #ddd;
  margin-bottom: 2.4rem;
}

.step-title {
  margin-bottom: 3.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1.3;
  border-radius: 8px;
}

.step-img {
  display: flex;
  justify-content: center;
  position: relative;
}

/* ***********Steps end ********* */
